.staffBody {
  width: 84.1667%;
  margin-left: 15.8333%;
}

.staff {
  width: 100%;
  height: 100%;
}

.staff__container__title{
  font-family: "Inter", sans-serif;
font-weight: 600;
font-size: 20px;
text-align: left;
padding-left: 24px;
margin-top: 26px;
letter-spacing: -0.01em;
color: #000;
margin-left: 0;
}

.staff__containersTableContainer{
  width: 90%;
}

.staff__tabletitle_text,
.user-slider__item p {
  flex: 1; /* Элементы будут равномерно распределены */
  text-align: left;
}

.user-slider__item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}

.staff__containersTableContainer {
  overflow: hidden;
  margin-left: 2.85%;
  width: 92.5%;
  height: 70%;
}

.staff__tableTitle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: clamp(0.125rem, 0.0966rem + 0.6486vw, 0.875rem);
  letter-spacing: -0.01em;
  color: #000;
  border-bottom: 1px solid #262626;
  padding: 8px;
  text-align: left;
}


.staff {
  position: absolute;
  width: 84.1667%;
  right: 0;
  height: 100%;
  text-align: left;
  background: #ffffff;
}

.staff__title {
  margin-top: 1.36%;
  margin-left: 1.48%;
  display: flex;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: clamp(0.25rem, 0.2115rem + 1.5385vw, 1.25rem);
  letter-spacing: -0.01em;
  color: #000;
}

.staff__title img {
  width: 1.57%;
  height: 1.85%;
  margin-right: 0.224%;
}

.staff__container {
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  height: calc(100vh - 90px);
}



.staff__tableTitle,
.user-slider__item {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: clamp(0.125rem, 0.0966rem + 0.6486vw, 0.875rem);
  letter-spacing: -0.01em;
  color: #b5b7c0;
  border-bottom: 1px solid #eee;
  padding: 8px;
  text-align: left;
}

.staff__tabletitle_text,
.user-slider__item p {
  flex: 1; /* Элементы будут равномерно распределены */
  text-align: left;
}

.user-slider {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.user-slider__item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}

.staff__containers {
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
  margin-right: 10px;
  position: relative;
}

.sotr {
  width: 50%;
}

.add {
  width: 50%;
}

.staff__containersTableContainer {
  overflow: hidden;
  margin-left: 2.85%;
  width: 92.5%;
  height: 70%;
}



.slider-controls {
  user-select: none;
  display: flex;
  position: absolute;
  bottom: 50px;
  left: 50px;
}

.slider-controls__brnprevnext {
  background: transparent;
  color: #000;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: -0.01em;
  cursor: pointer;
}

.slider-controls__brnprevnext:first-of-type {
  margin-right: 10px;
}

.slider-controls__brnprevnext:last-of-type {
  margin-left: 10px;
}

.slider-controls__btn {
  border-radius: 5px;
  width: 30px;
  height: 30px;
  background: #000;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: -0.01em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}

.slider-controls__btn_active {
  background: transparent;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: -0.01em;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  border: 2px solid #000;
border-radius: 5px;
}

.staff__btn {
  border: none;
  cursor: pointer;
  background: #002054;
  border-radius: 5px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #344bfd;
  width: 268px;
  height: 50px;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.staff__btn:hover {
  opacity: 0.8;
}

.staff_containerInput_title {
  margin-top: 5px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: clamp(0.125rem, 0.0824rem + 0.973vw, 1.25rem);
  color: #fff;
}


.add label {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.staff__containerbtnLink {
  border-radius: 5px;
  width: 268px;
  height: 50px;
  background: #d5e5ff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: clamp(0.25rem, 0.1404rem + 4.386vw, 0.875rem);
  color: #344bfd;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}