.loginBody {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  position: relative;
}

.loginBody__img {
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  height: 37.41%; /* 404px от 1080px */
  width: 165.73%; /* 3182px от 1920px */
}

.loginPopup {
  text-align: left;
  border-radius: 40px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  width: 54.0625%;
  height: 53.7962%;
  background: white;
  position: fixed; /* или absolute, в зависимости от контекста */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loginPopup__img {
  margin-left: 4.81696%;
  margin-top: 10.67126%;
  height: 3.09811%;
  width: 13.68015%;
}

.loginPopup__container {
  display: flex;
  margin-left: 4.81696%;
  margin-top: 16.33391%;
  height: 19.44923%;
  width: 90.36609%;
  align-items: center;
}

.loginPopup_text_title {
  font-weight: 600;
  font-size: clamp(0.3125rem, -0.0926rem + 2.1605vw, 2.5rem);
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap;
}

.loginPopup_text_subtitle {
  font-weight: 400;
  font-size: clamp(0.3125rem, 0.1389rem + 0.9259vw, 1.25rem);
  color: #000;
  margin-top: 1%;
  margin-bottom: 0;
  white-space: nowrap;
}

.loginPopup__inputs {
  text-align: right;
  display: block;
}

.input {
  font-weight: 500;
  font-size: clamp(0.3125rem, 0.1389rem + 0.9259vw, 1.25rem);
  color: rgba(0, 0, 0, 0.2);
  width: 100%;
  border-bottom: 2px solid #d9d9d9;
  padding-left: 2.36967%;
  padding-bottom: 1.7%;
  box-sizing: border-box;
  position: relative; /* Для позиционирования псевдоэлемента */
}

.input::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.input:focus {
  color: #000000;
  border-bottom: 2px solid #000000;
}

.input:focus::placeholder {
  color: #000000;
}

.input:focus::after {
  background: #000000;
  border-bottom: 2px solid #000000;
}

.loginPopup_inputs_password {
  margin-top: 9.0531%;
}

.loginPopup__btn {
  cursor: pointer;
  position: absolute;
  border-radius: 57px;
  width: 20.71291%;
  height: 7.40103%;
  background: #000;
  right: 4.4316%;
  bottom: 9.29432%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginPopup__btn span{
  font-weight: 700;
  font-size: clamp(0.3125rem, 0.1389rem + 0.9259vw, 1.25rem);
  color: #fff;
  margin-left: auto;
  margin-right: auto;
}


.loginPopup__btn img{
  position: absolute;
  right: 12.093023255813953488372%;
}