.loginBody {
    overflow: hidden;
    width: 100%;
}

.loginBody__img {
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    height: 76%;
    width: 100%;
    object-fit: cover;
}


.loginPopup {
    text-align: left;
    border-radius: 40px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    height: 53.8%;
    width: 54.1%;
    background: white;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 2;
    top: 0;
    bottom: 0;
    margin: auto;
}


.loginPopup__img {
    margin-left: 4%;
    margin-bottom: 0;
    width: 13%;
    height: 5%;
    margin-top: 8%;
}

.loginPopup__container {
    display: flex;
    margin-left: 4%;
    margin-top: 15%;
    align-items: center;
}

.loginPopup_text_title {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 3vw;
    line-height: 3.5vw;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap;
}

.loginPopup_text_subtitle {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1vw;
    line-height: 1.5vw;
    margin-top: 6px;
    margin-bottom: 0;
    white-space: nowrap;
}

.loginPopup__inputs {
    text-align: right;
    display: block;
}

.input {
    margin-right: 50px;
    width: 80%;
    background: transparent;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    border: none;
    outline: none;
    border-bottom: 1px solid #D9D9D9;
    padding: 0 0 15px 0;
    color: rgba(0, 0, 0, 0.2);
}

.loginPopup_inputs_password {
    margin-top: 50px;
}

.loginPopup__containerBtn {
    display: flex;
    margin-bottom: 8%;
    margin-left: 4%;
}

.loginPopup__btn {
    margin-right: 50px;
    Width: 21%;
    Height: 7%;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    bottom: 15%;
    line-height: 20px;
    text-align: center;
    background: black;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    right: 0;
    cursor: pointer;
    border-radius: 48px;
    position: absolute;
    color: white;
}

.loginPopup_btn_img {
    margin-left: 15px;
}

.loginPopup__darkTheme {
    margin: 0;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 15%;
    text-align: center;
}

.loginPopup_darkTheme_icon{
    margin-right: 8px;
}